.post-header-container {
    display: flex;
    justify-content: center;
    margin-top: 1rem;
}

.inputText {
    width: 20rem;
    height: 1.6rem;
    padding: .5rem;
    border: 1px solid #003f5c;
    border-radius: 1rem;
    border-top-right-radius: .2rem;
    border-bottom-right-radius: .2rem;
    font-size: .8rem;
    background-color: #2c4875;
    color: whitesmoke;
}

.searchButton {
    width: 5rem;
    padding: .8rem;
    border: 1px solid #003f5c;
    border-radius: .2rem;
    font-size: .8rem;
    background-color: #2c4875;
    color: rgb(195, 195, 195);
}

.searchButton:hover {
    border: 2px solid whitesmoke;
    color: whitesmoke;
    cursor: pointer;
    padding: .7rem;
}

.searchButton:active {
    padding: .6rem;
    margin: .1rem 0rem;
}

/* Post styling */

.post-container {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.post {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 35%;
    margin: .5rem;
    padding: 1rem;
    box-shadow: 3px 3px 8px 3px rgba(0, 0, 0, 0.3);
    border-radius: .8rem;
    background-color: #2c4875cf;
    color: whitesmoke;
}

.post-body {
    text-align: center;
    padding: 1rem;
}

.post-title {
    display: flex;
    justify-content: center;
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-style: normal;
}

.post-footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 1rem;
}

.post-likes {
    display: flex;
    justify-content: center;
    align-content: center;
    padding: 1rem;
}

.post-likes-amount {
    font-size: .8rem;
}

.material-symbols-outlined {
    font-size: 20px;
}

.post-date {
    color: rgb(195, 195, 195);
}

.post-footer button {
    all: unset;
    color: rgb(195, 195, 195);
}

.post-footer button:hover {
    cursor: pointer;
    color: #ff6361;
}

.new-post {
    all: unset;
    text-align: center;
    width: 4rem;
    margin-left: .2rem;
    padding: .8rem .2rem;
    border: 1px solid #003f5c;
    border-radius: 1rem;
    border-top-left-radius: .2rem;
    border-bottom-left-radius: .2rem;
    font-size: .8rem;
    background-color: #2c4875;
    color: rgb(195, 195, 195);
    font-family: "Roboto", sans-serif;
    font-weight: 300;
    font-style: normal;
}

.new-post:hover {
    cursor: pointer;
    border: 2px solid whitesmoke;
    color: whitesmoke;
    padding: .7rem .15rem;
}

.new-post:active {
    padding: .6rem .05rem;
    margin: .1rem .2rem;
}

.create-post-wrapper {
    position: absolute;
    width: 100%;
    height: 100%;
    backdrop-filter: blur(3px);
    z-index: 1;
    background-color: #003f5c11;

}

.create-post-container {
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    width: 30rem;
    background-color: #2c4875;
    border-radius: 1rem;
    box-shadow: 3px 3px 8px 3px rgba(0, 0, 0, 0.3);
    top: 30%;
    left: 50%;
    transform: translateY(-50%) translateX(-50%);
    color: whitesmoke;
    z-index: 2;
}

.create-post-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin-bottom: 1rem;
}

#close-post {
    color: #ff6361;
    font-size: 1.5rem;
}

#close-post:hover {
    cursor: pointer;
    font-size: 1.2rem;
    padding: .15rem 0rem;
}

.create-post-title, .create-post-text {
    margin: .5rem;
    margin-top: .2rem;
    width: 20rem;
}

.create-post-footer {
    display: flex;
    justify-content: space-between;
    width: 20rem;
    margin-top: 1rem;
}

.create-post-input-label {
    margin-top: .5rem;
    width: 20rem;
}