header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: .8rem 10%;
    background-color: #003f5c;
    color: white;
}

.nav-list-item {
    list-style-type: none;
}

.nav-list-item a {
    all: unset;
}

.nav-list-item:hover {
    cursor: pointer;
    color: #ff6361;
}