* {
    margin: 0%;
    padding: 0%;
}

body {
    background-color: #00141d;
}

.text-color {
    color: white;
}

.data-title {
    color: white;
}


#content-container {
    display: flex;
    flex-wrap: wrap;
}

.user-element {
    background-color: rgba(255, 255, 255, 0.8);
    padding: .5rem;
    margin: .2rem;
    border-radius: .5rem;
    width: fit-content;
}

.user-element:hover {
    padding: 1rem;
    cursor: pointer;
}